<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Memorial RAW</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produto">Produtos Cadastrados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buscando_produto">Buscar Produto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="/cadastro_prod">Cadastrar Produtos</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Editar Produto</h1>
    <hr>
    <form action="/produto/updateprod" method="POST">
        <div class="form-group">
            <input type="hidden" name="id" id="id" value="{{prod.id}}">
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" name="nome" placeholder="Digite o nome do produto" value="{{prod.nome}}">
        </div>

         <div class="form-group">
            <label for="quant">Quantidade:</label>
            <input class="form-control" type="number" name="quant" placeholder="Digite a quantidade em estoque" value="{{prod.qtd}}">
        </div>
                 <div class="form-group">
            <label for="fornecedor">Fornecedor:</label>
            <input class="form-control" type="text" name="fornecedor" placeholder="Digite o nome do Fornecedor" value="{{prod.fornecedor}}">
        </div>

        <input type="submit" value="Editar" class="btn btn-outline-success">
        <button class="btn btn-outline-danger"><a href="/produto">Cancelar</a></button>   
    </form>
<hr />

<br /><br /><br /><br /><br /><br /><br /><br /><br />

<!--footer-->
<footer class="bg-light text-center text-lg-start accordion">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
<a href="https://br.linkedin.com/in/enrickmagalhaes" class="text-dark">Linkedin - Enrik Magalhães</a>
</li>      
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
<li>
<a href="https://www.linkedin.com/in/rogerio-sjunior" class="text-dark">Linkedin - Rogério Junior</a>
</li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
<li>
<a href="https://www.linkedin.com/in/david-dos-santos-coelho-96390b252" class="text-dark">Linkedin - David Coelho</a>
</li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
<a href="https://www.linkedin.com/in/leila-k%C3%A9ssia-a13ab117b" class="text-dark">
Linkedin - Leila Kessia</a>
</li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 acordion">
        <h5 class="text-uppercase mb-0">Links</h5>

<ul class="list-unstyled">
<li>
<a href="https://www.linkedin.com/in/caio-cassiano-55b24b1b4" class="text-dark">Linkedin - Caio Cassiano </a>
</li>
</ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Programadores Cariocas:
    <a class="text-dark" href="https://mdbootstrap.com/">Backend - Mode 5</a>
  </div>
  <!-- Copyright -->
</footer>
<style>
  #navbar{ border: solid black 2px; background-color: aqua; }

</style>  