<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sistema Gerenciador de Serviços Funerários</title>

</head>

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/exibirTodosServicos">Listar todos os serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buscandoServico">Busca específica de serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cadastrarNovoServico">Cadastrar novo servico</a>
      </li>
    </ul>
  </div>
</nav>
  

  <h1>Cadastrar novo serviço</h1>

  <hr />

  <form action="exibirTodosServicos/insertprod" method="POST">
    <div>

      <input type="hidden" name="id" id="id" />

      <label for="nome">NOME: </label>
      <input type="text" name="nome" placeholder="Nome do serviço" />


      <hr />

      <label for="preco">PREÇO: </label>
      <input type="text" name="preco" placeholder="Preço do serviço" />


      <hr />

      <div class="form-group">

        <label for="embrulho">EMBRULHO: </label>
        <input type="text" name="embrulho" placeholder="Tipo de embrulho" />


        <hr />

        <label for="locacao">LOCAÇÃO: </label>
        <input type="text" name="locacao" placeholder="Tipo de locação" />
        
      </div>

      <hr />
      <div class="form-group">

        <label for="descricao">DESCRIÇÃO:</label>
        <input type="number" name="descricao" placeholder="Descrição" />
       
      </div>

      <!-- <div class="form-group">
        <label for="quant">Quantidade:</label>
        <input type="number" class="form-control-lg" name="qtd" placeholder="Digite a quantidade em estoque" />
      </div>-->

      <hr />

      <input type="submit" class="btn btn-primary" value="Salvar dados" />
    </div>
  </form>


<br /><br /><br /><br /><br /><br /><br /><br /><br />

<!--footer-->
<footer class="bg-light text-center text-lg-start accordion">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
<a href="https://br.linkedin.com/in/enrickmagalhaes" class="text-dark">Linkedin - Enrik Magalhães</a>
</li>      
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
<li>
<a href="https://www.linkedin.com/in/rogerio-sjunior" class="text-dark">Linkedin - Rogério Junior</a>
</li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
<li>
<a href="https://www.linkedin.com/in/david-dos-santos-coelho-96390b252" class="text-dark">Linkedin - David Coelho</a>
</li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
<a href="https://www.linkedin.com/in/leila-k%C3%A9ssia-a13ab117b" class="text-dark">
Linkedin - Leila Kessia</a>
</li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 acordion">
        <h5 class="text-uppercase mb-0">Links</h5>

<ul class="list-unstyled">
<li>
<a href="https://www.linkedin.com/in/caio-cassiano-55b24b1b4" class="text-dark">Linkedin - Caio Cassiano </a>
</li>
</ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Programadores Cariocas:
    <a class="text-dark" href="https://mdbootstrap.com/">Backend - Mode 5</a>
  </div>
  <!-- Copyright -->
</footer>
<style>
  #navbar{ border: solid black 2px; background-color: aqua; }

</style>
</body>

</html>